<a href="https://colab.research.google.com/github/ArturoIsaacSanchezTovar/MineriadeDatos/blob/main/Ej_Python_1867031.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


*   **EJERCICIO 1**

In [109]:
# Ejercicio 1 - Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.
matricula=1867031
nombre="Arturo Sánchez"
print("El alumno es", nombre, "de matrícula", matricula)

El alumno es Arturo Sánchez de matrícula 1867031



*   **EJERCICIO 2**

In [ ]:
# Ejercicio 2 - Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, 
# resta, multiplicación, división, y exponente. Utilizando el loop de while.
b=1
while b!=2:
  print("\n---CALCULADORA CON OPERADORES BÁSICOS---\n")
  num1=int(input("Introduce el número A: "))
  num2=int(input("Introduce el número B: "))
  print("\n-------MENÚ-------")
  print("1.-Suma (A+B)\n2.-Resta (A-B)\n3.-Multiplicación (A*B)\n4.-División (A/B)\n5.-Exponente (A^B)\n")
  opc=int(input("¿Qué operación quiere utilizar? [1-5]:"))
  if opc==1:
    res=num1+num2
  else:
    if opc==2:
      res=num1-num2
    else:
      if opc==3:
        res=num1*num2
      else:
        if opc==4:
          res=num1/num2
        else:
          res=num1**num2
  print("\nEl resultado de la operación es:",res)
  b=int(input("\n¿Deseas realizar otro cálculo? [1.-Sí, 2.-No]:"))

---CALCULADORA CON OPERADORES BÁSICOS---

Introduce el número A: 3
Introduce el número B: 2

-------MENÚ-------
1.-Suma (A+B)
2.-Resta (A-B)
3.-Multiplicación (A*B)
4.-División (A/B)
5.-Exponente (A^B)

¿Qué operación quiere utilizar? [1-5]:3

El resultado de la operación es: 6

¿Deseas realizar otro cálculo? [1.-Sí, 2.-No]:2



*   **EJERCICIO 3**

In [110]:
# Ejercicio 3 - Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que 
# sume todos los números dentro del arreglo.
# lista = [3,6,9,12,15,18,21,24,27,30]
b=0
l=[0]*10
while b<10:
  l[b]=3*(b+1)
  b=b+1

print("Lista:")
sum=0
for i in range(0,len(l)):
  sum=sum+l[i]
print(l)

print("\nLa suma de los números dentro del arreglo es:",sum)

Lista:
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

La suma de los números dentro del arreglo es: 165



*   **EJERCICIO 4**

In [111]:
# Ejercicio 4 - Con una función de if else, revisar si un número es par o es impar.
# Con una función de if else, revisar si un número es primo o no.

num1=int(input("Introduce un número: "))
if num1%2==0:
  print("El número es par")
else:
  print("El número es impar")

a=0
for i in range(2,num1):
  if num1//i == num1/i and i!=1 and i!=num1:
      a=1

if a == 1:
      print("El número no es primo")
else:
      print("El número es primo")

Introduce un número: 13
El número es impar
El número es primo



*   **EJERCICIO 5**

In [ ]:
# Ejercicio 5 - Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, 
# división, y exponente
b=1
while b!=2:
  print("\n---CALCULADORA CON OPERADORES BÁSICOS---\n")
  num1=float(input("Introduce el número A: "))
  num2=float(input("Introduce el número B: "))
  print("\n-------MENÚ-------")
  print("{S}.-Suma (A+B)\n{R}.-Resta (A-B)\n{M}.-Multiplicación (A*B)\n{D}.-División (A/B)\n{E}.-Exponente (A^B)\n")
  opc=input("¿Qué operación quiere utilizar? [S, R, M, D, E]:")
  float(res)
  if opc=="S":
    res=num1+num2
  else:
    if opc=="R":
      res=num1-num2
    else:
      if opc=="M":
        res=num1*num2
      else:
        if opc=="D":
          res=num1/num2
        else:
          res=num1**num2
  print("\nEl resultado de la operación es:",res)
  b=int(input("\n¿Deseas realizar otro cálculo? [1.-Sí, 2.-No]:"))

---CALCULADORA CON OPERADORES BÁSICOS---

Introduce el número A: 3.4
Introduce el número B: 6

-------MENÚ-------
{S}.-Suma (A+B)
{R}.-Resta (A-B)
{M}.-Multiplicación (A*B)
{D}.-División (A/B)
{E}.-Exponente (A^B)

¿Qué operación quiere utilizar? [S, R, M, D, E]:R

El resultado de la operación es: -2.6

¿Deseas realizar otro cálculo? [1.-Sí, 2.-No]:2



*   **TUPLAS**

In [ ]:
############################## Ejercicios con estructuras básicas de python.
############## TUPLAS
# Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.
flot=5.9
inte=4
bole=True
comp=2+3j
print("La variable",flot,"es de tipo",type(flot))
print("La variable",inte,"es de tipo",type(inte))
print("La variable",bole,"es de tipo",type(bole))
print("La variable",comp,"es de tipo",type(comp))

La variable 5.9 es de tipo <class 'float'>
La variable 4 es de tipo <class 'int'>
La variable True es de tipo <class 'bool'>
La variable (2+3j) es de tipo <class 'complex'>

In [ ]:
# Crear una tupla con valores enteros imprimir el primer y ultimo valor.
t2=(1,2,3,4,5,6,7,8,9,10)
print("Primer valor:",t2[0],"\nÚltimo valor:",t2[len(t2)-1],sep="\n")

Primer valor:
1

Último valor:
10

In [ ]:
# Añadir 3 valores de string a la tupla. 
t2=(1,2,3,4,5,6,7,8,9,10)
t3=('string1','string2','string3')
t2=t2.__add__(t3)
print("Valores agregados:",t3,"Tupla nueva:",t2)

Valores agregados: ('string1', 'string2', 'string3') Tupla nueva: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'string1', 'string2', 'string3')

In [ ]:
# Verificar si una variable existe dentro de la tupla.
t2=(1,2,3,4,5,6,7,8,9,10)
var1=int(input("Valor a buscar: "))
if var1 in t2:
  print("La variable",var1,"se encuentra en la tupla")
else:
  print("La variable",var1,"no se encuentra en la tupla")
var1 in t2

Valor a buscar: 4
La variable 4 se encuentra en la tupla

True


*   **LISTAS**

In [ ]:
############## LISTAS
# Crear una lista con 40 elementos aleatorios enteros.
import random as r
lista = [0]  * 40
for i in range(40):
  lista[i] = r.randint(1,100)
print(lista)

[41, 14, 81, 26, 47, 52, 20, 45, 50, 82, 17, 54, 59, 70, 50, 30, 68, 8, 38, 32, 89, 73, 80, 82, 56, 47, 40, 97, 97, 9, 20, 50, 43, 42, 71, 54, 93, 63, 46, 59]

In [ ]:
# Con una funcion (def) crear dos listas nuevas a partir de la lista 
# creada por numeros aleatorios, en la cual en una esten los elementos 
# pares, y en la otra los elementos impares.
def funcion1(contp): #Creación de lista de pares
  p=0
  pa=[0]*contp
  for i in range(40):
    if lista[i]%2==0:
      pa[p]=lista[i]
      p=p+1
  return pa

def funcion2(conti): #Creación de lista de impares
  np=0
  impa=[0]*conti
  for i in range(40):
    if lista[i]%2!=0:
      impa[np]=lista[i]
      np=np+1
  return impa

contp=0
for i in range(40):
  if lista[i]%2==0:
    contp=contp+1
conti=40-contp
print("Lista original:",lista)
print("Lista de pares:",funcion1(contp),"\nLista de impares:",funcion2(conti))

Lista original: [41, 14, 81, 26, 47, 52, 20, 45, 50, 82, 17, 54, 59, 70, 50, 30, 68, 8, 38, 32, 89, 73, 80, 82, 56, 47, 40, 97, 97, 9, 20, 50, 43, 42, 71, 54, 93, 63, 46, 59]
Lista de pares: [14, 26, 52, 20, 50, 82, 54, 70, 50, 30, 68, 8, 38, 32, 80, 82, 56, 40, 20, 50, 42, 54, 46]
Lista de impares: [41, 81, 47, 45, 17, 59, 89, 73, 47, 97, 97, 9, 43, 71, 93, 63, 59]

In [ ]:
# Crear dos variables con la longitud de ambas listas nuevas e imprimir 
# las variables.
longip=len(funcion1(contp))
longii=len(funcion2(conti))
print("Longitud lista de pares:",longip,"\nLongitud lista de impares:",longii)

Longitud lista de pares: 23
Longitud lista de impares: 17

In [ ]:
# Ordenar los elementos de la lista par de mayor a menor, y los de la 
# lista impar de menor a mayor.
po=funcion1(contp)
io=funcion2(conti)
po.sort()
po.reverse()
io.sort()
print("Lista de pares (mayor a menor):",po,"\nLista de impares (menor a mayor):",io)

Lista de pares (mayor a menor): [82, 82, 80, 70, 68, 56, 54, 54, 52, 50, 50, 50, 46, 42, 40, 38, 32, 30, 26, 20, 20, 14, 8]
Lista de impares (menor a mayor): [9, 17, 41, 43, 45, 47, 47, 59, 59, 63, 71, 73, 81, 89, 93, 97, 97]

In [ ]:
# Utilizar al menos cuatro de las funciones de listas en python en la 
# lista original de 40 elementos.
import random as r
lista.append(r.randint(1,100))
lista.sort()
lista.reverse()
lista.pop()
lista.extend([1,1,1,1])
print("Lista modificada:",lista)
len(lista)

Lista modificada: [99, 97, 97, 93, 89, 82, 82, 81, 80, 73, 71, 70, 68, 63, 59, 59, 56, 54, 54, 52, 50, 50, 50, 47, 47, 46, 45, 43, 42, 41, 40, 38, 32, 30, 26, 20, 20, 17, 14, 9, 1, 1, 1, 1]

44


*   **DICCIONARIOS**

In [ ]:
############## DICCIONARIOS
# Crear un diccionario de 6 personas que conozcas con su primer nombre y
# su edad.
dict1={'Alan': 20, 'Francisco': 20, 'Alba': 20, 'Ana': 18, 'Itzel': 21, 'Edgar': 20}
print(dict1)

{'Alan': 20, 'Francisco': 20, 'Alba': 20, 'Ana': 18, 'Itzel': 21, 'Edgar': 20}

In [ ]:
# Crear una lista con los valores de la edad y reacomodar la lista de
# menor a mayor valor.
dict1={'Alan': 20, 'Francisco': 20, 'Alba': 20, 'Ana': 18, 'Itzel': 21, 'Edgar': 20}
print("La lista ordenada de menor a mayor es: ", sorted(dict1.values()))

La lista ordenada de menor a mayor es:  [18, 20, 20, 20, 20, 21]

In [ ]:
# Usando el diccionario y un loop, imprimir solo los nombres.
dict1={'Alan': 20, 'Francisco': 20, 'Alba': 20, 'Ana': 18, 'Itzel': 21, 'Edgar': 20}
print("----Nombres----")
for i in dict1:
  print(i)

----Nombres----
Alan
Francisco
Alba
Ana
Itzel
Edgar

In [ ]:
# Añadir dos personas nuevas a tu diccionario, incluyendo edad.
dict1={'Alan': 20, 'Francisco': 20, 'Alba': 20, 'Ana': 18, 'Itzel': 21, 'Edgar': 20}
dict1['Marlene']=19
dict1['Ingrid']=20
print(dict1)

{'Alan': 20, 'Francisco': 20, 'Alba': 20, 'Ana': 18, 'Itzel': 21, 'Edgar': 20, 'Marlene': 19, 'Ingrid': 20}

*   **SETS**
**OBSERVACIÓN, EL SET  DE 100 NO. ALEATORIOS DEL 1 AL 25 SÓLO SE PUEDE LLENAR CON 25 VALORES DEBIDO A QUE NO SE REPITEN LOS DATOS.**

In [ ]:
############## SETS
# Crea un set con 100 numeros aleatorios enteros del 1 al 25.
import random as r
set1=set()
for i in range(0,100):
  set1.add(r.randint(1,25))
print("Set:\n",set1)

Set:
 {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

In [ ]:
# Comprueba la longitud de tu set.
print(set1)
print("\nLa longitud del set es:",len(set1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

La longitud del set es: 25

In [ ]:
# Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba 
# si cada valor aparece en el set inicial.

# Creación de una lista con 5 elementos aleatorios del 1 al 10
lista5 = [0]  * 5
for i in range(5):
  lista5[i] = r.randint(1,10)
print("El set:",set1)
print("\nLa lista de 5 elementos aleatorios es:",lista5,"\n")
for i in range(0,len(lista5)):
  if lista5[i] in set1:
    print("El elemento",lista5[i],"se encuentra en el set.")
  else:
    print("El elemento",lista5[i],"no se encuentra en el set.")

El set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

La lista de 5 elementos aleatorios es: [1, 9, 8, 4, 10]

El elemento 1 se encuentra en el set.
El elemento 9 se encuentra en el set.
El elemento 8 se encuentra en el set.
El elemento 4 se encuentra en el set.
El elemento 10 se encuentra en el set.